.header {
	height: 60px;
	display: flex;
	flex: 1 1 auto;
	flex-flow: row nowrap;
	align-items: center;
	float: none;
	position: static;
	top: 0;
	z-index: 5;
	background-color: #131921;
	color: White;
	min-width: 700px;
}

.header_logo {
	margin: 0 20px;
	margin-top: 15px;
	display: flex;
	object-fit: contain;
}

.header_logo_img {
	width: 100px;
}

.header_logo_text {
	transform: translateY(13%);
	font-size: small;
}

.header_option {
	display: flex;
	flex-shrink: 0;
	flex-flow: column nowrap;
	margin-left: 10px;
	margin-right: 10px;
}

.header_optionLineOne {
	font-size: 10px;
}

.header_optionLineTwo {
	font-size: 13px;
	font-weight: bold;
}

.header_adressLocationIcon {
	height: 22px !important;
	transform: translateY(25%);
}

.header_adress {
	display: flex;
}

.header_adressText {
	margin-left: 0px;
}

.header_search {
	display: flex;
	flex: 1;
	align-items: center;
}

.header_search_input {
	height: 12px;
	padding: 10px;
	border: none;
	width: 100%;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.header_search_icon {
	color: #0f1111;
	background-color: #febd69;
	padding: 5px;
	height: 22px !important;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.header_nav {
	display: flex;
	justify-content: space-evenly;
}

.header_shoppingCart {
	display: flex;
	align-items: center;
}

.header_shoppingCartCounter {
	margin-left: 10px;
	margin-right: 10px;
}
